.wrapper{
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #232526;
    }

h4{
        font-family:'NotoSans';
        color: rgb(174, 174, 174);
    }

a{
     text-decoration: none;
}
.cards{
    /* background: #7F00FF; */
    background: url('/../../assets/tool_bg.jpg');
    width: 85%;
    height: 110px;
    border-radius: 15px;
    border:none;
    margin: 15px auto;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
              0 1px  6px  rgba(0, 0, 0, .05),
              0 8px  8px  rgba(0, 0, 0, .1), 
              0 16px 16px rgba(0, 0, 0, .1), 
              8px 32px 32px rgba(0, 0, 0, .15), 
              8px 64px 64px rgba(0, 0, 0, .15);
              
  transition: all ease 0.3s;
}

.time{
    font-family:'NotoSans';
    font-size: 14px;
    color: #fff;
    width:20%;
    border-right: 1px solid rgb(235, 235, 235);
}

.lessonname{
    font-family:'NotoSans';
    font-size: 16px;
    color: #fff;
    width: 60%;
}
.teacher{
    font-family:'NotoSans';
    font-size: 12px;
    color: #fff;
    margin-top: 25px; 
}

.cab{
    font-family:'NotoSans';
    font-size: 16px;
    color: #fff;
    width:20%;
}

.titleles{
    font-family:'NotoSans';
    font-size: 12px;
    color: #fff;
}

.cards:hover{
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .4),
        0 1px  6px  rgba(0, 0, 0, .5),
        0 8px  8px  rgba(0, 0, 0, .5), 
        0 16px 16px rgba(0, 0, 0, .5), 
        8px 32px 32px rgba(0, 0, 0, .2), 
        8px 64px 64px rgba(0, 0, 0, .2);
    
  
}

.box{
	height: 200px;
	width: 33.3%;
	position: relative;
	margin:0 auto;
	transition: all .2s ease;
}

.clock{
	border-radius: 60px;
	border: 3px solid #fff;
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);
}
.clock:after{
	content: "";
	position: absolute;
	background-color: #fff;
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: #fff;
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
