.wrapper{
    width: 20%;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.text{
    font-family:'NotoSans';
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-bottom: 2px solid rgb(144, 46, 242);
}

button{
    font-family:'NotoSans';
    color: #fff;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    border: none; 
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}