.login{
    width: 50%;
    position: absolute;
    margin: 0 ;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
input{
    background: transparent;
    color:black;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    width: 300px;
    margin: 2px;
    z-index: 999;
  }
  input[type="text"]:focus { outline: none; }
  input[type="password"]:focus { outline: none; }
  
  input[type="submit"]{
    border: 1px solid #000;
    cursor: pointer;
  
  }

  .toolbar{
    position: absolute;
    margin: 0 ;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
  }